body{
    margin: 0;
    text-align: center;
    background: #f8f8ff;
}
header{
    color: white;
    background: black;
    padding: 1rem 0 4rem 0;
    font-size: 5rem;
}
h1{
    border: .25em solid black;
    margin: 1.5rem 40rem;
    border-radius: 1rem;
}
p{
    border: .25em solid black;
    margin: 1.5rem 30rem;
    border-radius: 1em;
    padding: 3rem 3rem;
}
ul{
    list-style: inside;
    display: inline-block;
}